@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);

html,body,.cross-portfolio,.bg {
height:100%;
margin:0
}

body {
background:#fff;
color:#69606b;
font-weight:400;
font-size:14px;
line-height:1.5;
font-family:'Raleway',Arial,sans-serif;
-webkit-font-smoothing:antialiased;
overflow-x:hidden
}

a {
outline:none;
color:#cf4a5c;
text-decoration:none
}

a:hover,a:focus {
color:inherit
}

hr {
margin:18px 0;
background-color:transparent;
border-top:2px dashed #8c8b8b
}

.cross-top {
width:100%;
z-index:10000
}

.cross-top a {
display:inline-block;
color:#fff;
-webkit-transform:translateY(20px);
transform:translateY(20px)
}

.cross-top .logo {
position:fixed;
left:0;
padding:0 25px
}

.logo {
text-align:left;
font-weight:700;
display:-moz-inline-stack;
display:inline-block;
text-transform:uppercase;
letter-spacing:2px;
font-size:20px;
float:left!important;
color:#fff;
position:relative
}

.avatar {
text-align:center;
width:100%;
height:auto
}

.space {
margin-bottom:40px
}

.contact-detail dd{margin: 0 0 6px 30px;padding:0;padding-top:5px;}
.contact-detail dt{float:left;}
.contact-detail dt img{vertical-align:text-top;width:20px;height:20px;}

.cross-portfolio:not(.notrans) .content > div {
-webkit-transition-property:-webkit-transform,opacity;
transition-property:transform,opacity
}

.cross-portfolio .bg {
position:absolute
}

.cross-portfolio .title h1 {
font-family:'Playfair Display',serif;
font-weight:700;
font-size:4em
}

.cross-portfolio .content {
width:100%;
margin-left:0;
padding:2em 1em;
position:relative
}

.cross-portfolio div.content:nth-child(odd),.cross-portfolio div.content:nth-child(5),.cross-portfolio div.content:nth-child(11) {
/*opacity:0;*/
-webkit-transition:opacity .2s ease-out;
-moz-transition:opacity .2s ease-out;
-o-transition:opacity .2s ease-out;
-ms-transition:opacity .2s ease-out;
transition:opacity .2s ease-out
}

.cross-portfolio.modify div.content:nth-child(odd) small {
color:inherit
}

.cross-portfolio.modify div.content:nth-child(5) {
color:#fff;
background:#466368;
background:radial-gradient(#648880,#293f50);
-webkit-transition:opacity .6s ease-in;
-moz-transition:opacity .6s ease-in;
-o-transition:opacity .6s ease-in;
-ms-transition:opacity .6s ease-in;
transition:opacity .6s ease-in
}

.cross-portfolio.modify div.content:nth-child(5) .h2,.cross-portfolio.modify div.content:nth-child(5) h5 {
font-family:inherit;
color:#fff
}

.cross-portfolio.modify div.content:nth-child(11) {
opacity:1;
background:#444;
color:#fff;
-webkit-transition:opacity .6s ease-in;
-moz-transition:opacity .6s ease-in;
-o-transition:opacity .6s ease-in;
-ms-transition:opacity .6s ease-in;
transition:opacity .6s ease-in
}

.cross-portfolio.modify div.content:nth-child(11) h3,.cross-portfolio.modify div.content:nth-child(11) p {
color:#fff
}

.cross-portfolio .content .containers {
opacity:0;
-webkit-transform:translateY(200px);
transform:translateY(200px)
}

.cross-portfolio.modify .content .containers {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}

.cross-portfolio:not(.notrans) .bg-img::before,.cross-portfolio:not(.notrans) .bg-img::after,.cross-portfolio.modify div.content:nth-child(odd) {
-webkit-transition-delay:.3s;
transition-delay:.3s
}

.cross-portfolio.modify:not(.notrans) .bg-img::before,.cross-portfolio.modify:not(.notrans) .bg-img::after {
-webkit-transition-delay:0;
transition-delay:0
}

.cross-portfolio.modify:not(.notrans) .content .containers {
-webkit-transition-delay:.15s;
transition-delay:.15s
}

.content {
margin:0 auto
}

.containers {
max-width:900px;
padding:0 1.25em;
margin:0 auto 1.5em .8em
}

button.trigger {
position:fixed;
bottom:40px;
left:50%;
z-index:5000;
display:block;
margin-left:-.5em;
padding:0;
width:1em;
height:1em;
border:none;
background:transparent;
color:transparent;
font-size:3em;
cursor:pointer
}

.cross-portfolio:not(.notrans) button.trigger {
-webkit-transition:opacity .3s .5s;
transition:opacity .3s .5s
}

.cross-portfolio.modify:not(.notrans) button.trigger {
opacity:0;
z-index:0;
-webkit-transition-delay:0;
transition-delay:0
}

button.trigger::before {
position:absolute;
bottom:100%;
left:-100%;
padding:.8em;
width:300%;
color:#fff;
content:'View Profile';
font-size:.35em;
-webkit-backface-visibility:hidden;
backface-visibility:hidden
}

button.trigger:focus {
outline:none
}

button.trigger i {
position:relative;
display:block;
overflow:hidden;
width:100%;
height:100%
}

button.trigger i::before {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
color:#fff;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}

.icon-list {
display:inline-block;
max-width:100%;
margin-top:10px;
font-size:0
}

.icon-list:nth-child(2n-1) {
margin-right:0
}

.icon-list-icon {
display:inline-block;
vertical-align:middle;
width:40px;
font-size:22px;
line-height:.5;
color:#444
}

.icon-list-content {
display:inline-block;
vertical-align:middle
}

.icon-list-title {
display:block;
color:#444;
font-size:18px;
font-weight:400;
line-height:1.5
}

.icon-list-title.pop {
  color:#FFFFFF;
}

.icon-list-info {
color:#444;
font-size:15px;
line-height:1.5
}

.icon-list-info.pop {
  color:#FFFFFF;
}

.icon-list-info span {
margin-right:10px
}

figure {
position:relative;
float:left;
overflow:hidden;
margin:10px 1%;
max-width:100%;
max-height:100%;
width:98%;
background:#3085a3;
text-align:center;
cursor:pointer
}

figure img {
position:relative;
display:block;
width:100%;
height:100%;
opacity:.8
}

figure figcaption {
padding:2em;
color:#fff;
font-size:1.25em;
-webkit-backface-visibility:hidden;
backface-visibility:hidden
}

figure figcaption,figure figcaption > a {
position:absolute;
top:0;
left:0;
width:100%;
height:100%
}

figure figcaption > a {
z-index:1000;
text-indent:200%;
white-space:nowrap;
font-size:0;
opacity:0
}

figure h2 {
word-spacing:-.15em;
font-weight:300;
text-transform:uppercase
}

figure h2,figure p {
margin:0
}

figure p {
letter-spacing:1px;
font-size:68.5%
}

figure.cross-image figcaption::before {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:-webkit-linear-gradient(top,rgba(72,76,97,0) 0%,rgba(72,76,97,0.8) 75%);
background:linear-gradient(to bottom,rgba(72,76,97,0) 0%,rgba(72,76,97,0.8) 75%);
content:'';
opacity:0;
-webkit-transform:translate3d(0,50%,0);
transform:translate3d(0,50%,0)
}

figure.cross-image h2 {
position:absolute;
top:50%;
left:0;
width:100%;
color:#fff;
-webkit-transition:-webkit-transform 0.35s,color .35s;
transition:transform 0.35s,color .35s;
-webkit-transform:translate3d(0,-50%,0);
transform:translate3d(0,-50%,0)
}

figure.cross-image figcaption::before,figure.cross-image p {
-webkit-transition:opacity 0.35s,-webkit-transform .35s;
transition:opacity 0.35s,transform .35s
}

figure.cross-image p {
text-align:left;
position:absolute;
bottom:0;
left:0;
padding:2em;
width:100%;
opacity:0;
-webkit-transform:translate3d(0,10px,0);
transform:translate3d(0,10px,0)
}

figure.cross-image:hover h2 {
color:#fff;
-webkit-transform:translate3d(0,-50%,0) translate3d(0,-40px,0);
transform:translate3d(0,-50%,0) translate3d(0,-40px,0)
}

figure.cross-image:hover figcaption::before,figure.cross-image:hover p {
opacity:1;
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0)
}

.item blockquote {
border-left:none;
margin:0
}

.item blockquote img {
margin-bottom:10px
}

.item blockquote p:before {
content:"\f10d";
font-family:'Fontawesome';
float:left;
margin-right:10px
}

.item blockquote p:after {
content:"\f10e";
font-family:'Fontawesome';
margin-left:10px
}

body.modal-open .cross-portfolio {
-webkit-filter:blur(5px);
-moz-filter:blur(5px);
-o-filter:blur(5px);
-ms-filter:blur(5px);
filter:blur(5px)
}

.fullscreen .modal-dialog {
margin:0;
width:100%;
height:100%;
min-height:100%;
padding:0;
color:#fff
}

.fullscreen .modal-content {
height:100%;
min-height:100%;
border-radius:0;
color:#fff;
background:rgba(25,25,25,.5);
overflow:auto
}

.fullscreen .modal-content .modal-title h2 {
color:#fff;
text-align:center;
word-spacing:-.15em;
font-weight:300;
text-transform:uppercase
}

.fullscreen .modal-content h2 span {
font-weight:800
}

.fullscreen .modal-content .close {
color:#fff
}

.fullscreen .modal-content .close:hover {
color:#cf4a5c
}

.modal.fade .modal-dialog {
-webkit-transform:scale(0.1);
-moz-transform:scale(0.1);
-ms-transform:scale(0.1);
transform:scale(0.1);
top:300px;
opacity:0;
-webkit-transition:all .3s;
-moz-transition:all .3s;
transition:all .3s
}

.modal.fade.in .modal-dialog {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
-webkit-transform:translate3d(0,-300px,0);
transform:translate3d(0,-300px,0);
opacity:1
}

@media screen and (max-width: 80em) {
figure {
display:inline-block;
float:none;
margin:10px auto;
width:100%
}
}

@media screen and (max-width: 50em) {
.title,.cross-portfolio {
font-size:90%
}

.cross-portfolio .content {
width:95%;
margin-left:5%;
padding:2em 1em 2em 0
}

.cross-portfolio.modify .cross-top .logo {
opacity:0
}

.cross-portfolio .bg-img::after {
width:95%
}

figure {
display:inline-block;
float:none;
margin:10px auto;
width:100%
}
}

@media screen and (max-width: 27em) {
.cross-portfolio .bg-img::after {
top:0;
right:0;
width:100%;
height:100%;
-webkit-transform:translateX(100%);
transform:translateX(100%)
}

.containers {
margin-right:auto;
margin-left:auto;
padding-left:15px;
padding-right:15px
}

.cross-portfolio.modify .cross-top .logo {
opacity:0
}

.cross-portfolio .content {
width:100%;
margin-left:0;
padding:2em 0
}

.cross-portfolio .content p {
font-size:14px
}

.cross-portfolio .title h1 {
font-size:38px
}

.cross-portfolio .content h2 {
font-size:28px
}

.cross-portfolio .content h3 {
font-size:24px
}

.cross-portfolio .content h4 {
font-size:18px
}

.menu-click li a {
font-size:40px;
line-height:68px
}
}
