<footer class="footer">
  <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src=https://cdn.smooch.io/smooch.min.js></script>

<script>
  Smooch,init({appToken: '30jgjc9y47nmxhn6c9nlbjpfp'});
</script>
